/*Basic*/
    body{
        background-color: #ffffff;
        font-family: 'Lato', sans-serif;
        color: #666;
    }
    h1{
        font-size: 25px;
    }
/**/

/*Navbar*/
    .navbar{
        background-color: #fff;
    }
/**/

/*Main*/
    main{
    }
    /*Header*/
        .header{
            width: 100%;
            height: 350px;
            background: linear-gradient(
                    rgba(0, 0, 0, 0.65),
                    rgba(0, 0, 0, 0.2)), url('http://imgs.abduzeedo.com/files/wallpapers/wpw347/wp_iPad.jpg') no-repeat;
        }
        .header-description{
            padding: 5em 0;;
        }
        .header-description > h2{
            font-weight: 700;
            font-size: 4em;
            color: #fff;
            text-transform: uppercase;
            text-align: center;
        }
        .header-description > blockquote{
            max-width: 620px;
            margin: 0 auto;
            text-align: center;
            font-weight: 100;
            font-size: 2em;
            color: #ffffff;
        }
    /**/
    /*Head Main*/
        .header-main{
            padding: 3%;
            height: 350px;
        }
        .icon-content{
            text-align: center;
        }
        .icon > .icon-content > a > i{
            display: block;
            font-size: 6.7em;
            color: #28282f;
        }
        .icon > .icon-content > a > i:hover{
            color: #0275d8;
        }
        .icon > .icon-content > span{
            font-weight: 100;
            font-size: 2em;
            color: #222;
        }
        .icon > .icon-content > span > a{
            display: block;
            width: 100%;
            color: #333;
            text-decoration: none;
        }
        .icon > .icon-content > span > a:hover, .icon > .icon-content > span > a:focus{
            color: #0275d8;
            text-decoration: none;
        }
    /**/
/**/

/*Media*/
    @media(max-width: 766px)
    {
        .icon > .icon-content > a > i{
            font-size: 4.7em;
        }
    }
/**/

/*Other*/
.center{
        margin: 0 auto;
    }
/**/

