/*Basic*/
    body {
        background-color: #ffffff;
        font-family: 'Lato', sans-serif;
        color: #666;
    }
/**/

/*Navbar*/
    .navbar {
        background: #fff;
        border-bottom: 1px solid #e0e0e0;
    }

    .navbar-brand {
        font-size: 25px;
    }
/**/

/*Header*/
    .header {
        margin-top: 64px;
        width: 100%;
        height: 350px;
        background: linear-gradient(
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.2)), url('../img/header-background.png') no-repeat;
        background-size: cover;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    .header-description {
        padding: 5em 0;
    }

    .header-description > h1 {
        font-weight: 700;
        font-size: 4em;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
    }

    .header-description > blockquote {
        max-width: 620px;
        margin: 0 auto;
        text-align: center;
        font-weight: 100;
        font-size: 2em;
        color: #ffffff;
    }
/**/

/*Main*/
    main {
    }
    /*Header Main*/
        .header-main {
            display: flex;
            flex-wrap: wrap;
            padding: 3%;
            min-height: 550px;
            align-items: center;
        }

        .header-main > .container {
            flex-wrap: wrap;
        }

        .icon-content {
            text-align: center;
        }

        .information-and-socials > .icon-content > a > i {
            display: block;
            font-size: 6.7em;
            color: #28282f;
        }

        .information-and-socials > .icon-content > a:hover i,
        .information-and-socials > .icon-content > a:hover span {
            color: #0275d8;
        }

        .information-and-socials > .icon-content > a > span {
            font-weight: 100;
            font-size: 2em;
            color: #222;
        }

        .information-and-socials > .icon-content > a > span {
            display: block;
            width: 100%;
            color: #333;
            text-decoration: none;
        }

        .information-and-socials > .icon-content > a:hover,
        .information-and-socials > .icon-content > a:focus {
            color: #0275d8;
            text-decoration: none;
        }
    /**/
    /*About Me*/
        .about-me {
            display: flex;
            flex-wrap: wrap;
            padding: 10px 10px 30px 10px;
            min-height: 500px;
            background-color: #e9e9e9;
            font-family: 'Lato', sans-serif;
        }

        .about-me > .container > .row {
            justify-content: center;
        }

        .about-me > .container > .row > header {
            padding-bottom: 30px;
            border-bottom: 1px solid #c1c1c1;
            margin-top: 20px;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
        }

        .about-me > .container > .row > header > h3 {
            color: #000;
            font-size: 2.3em;
            font-weight: 100;
            letter-spacing: 1px;
        }

        .about-me > .container > .row > header > .avatar-container {
            flex-wrap: wrap;
        }

        .about-me > .container > .row > header > .avatar-container > img {
            flex: 1 100%;
            width: 150px;
            height: 150px;
            border-radius: 360px;
            border: 2px solid #0275d8;
            background: #fff;
            object-fit: contain;
            object-position: right;
        }

        .about-me > .container > .row > article > header > h4 {
            margin-top: 25px;
            padding: 5px;
            width: 100%;
            font-size: 23px;
            text-align: justify;
            text-indent: 10px;
            color: #444;
        }

        .about-me > .container > .row > article > p {
            margin-top: 25px;
            padding: 5px;
            font-size: 19px;
            text-align: justify;
            text-indent: 10px;
            color: #333;
        }
    /**/
    /*Skills*/
        .skills {
            margin-top: 100px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .skills > header {
            text-align: center;
            flex: 1 100%;
        }

        .skills > header > h4 {
            text-transform: uppercase;
            font-size: 3em;
            font-weight: 700;
            letter-spacing: 4px;
            color: #000;
            margin-bottom: 50px;
        }

        .skills > article {
            width: 230px;
            height: 230px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        .skills > article > a {
            color: inherit;
        }

        .skills > article > a:hover,
        .skills > article > a:focus {
            text-decoration: none;
        }

        .skills > article > a > img {
            width: 140px;
            height: 140px;
            object-fit: contain;
        }

        .skills > article > a > h5 {
            flex: 1 100%;
            margin-top: 20px;
            text-align: center;
            font-size: 1em;
        }
    /*8/
/**/

/*Media*/
    @media(max-width: 985px)
    {
        .header-main{
            margin-top: 50px;
            margin-bottom: 50px;
            min-height: 350px;
        }
        .about-me > .container > .row > .col-md-4 > img{
            width: 100%;
        }
        .avatar-footer{
            width: 100%;
        }
    }

    @media(max-width: 766px)
    {
        .information-and-socials {
            flex: 1 100%;
            width: 100%;
        }

        .information-and-socials > .icon-content > a > i {
            font-size: 4.7em;
        }

        .about-me > .container > .row > header > h3 {
            font-size: 1.8em;
        }


        .about-me > .container > .row > article > p {
            margin-top: 19px;
            width: 100%;
        }
    }
    @media(max-width: 544px)
    {
        .information-and-socials {
            margin-top: 30px;
        }

        .information-and-socials > .icon-content > a > span {
            display: none;
        }

        .about-me {
            margin-top: 50px;
        }

        .about-me > .container > .row > header {
            justify-content: center;
            flex-wrap: wrap-reverse;
        }

        .about-me > .container > .row > header > h3 {
            margin-top: 20px;
        }

        .about-me > .container > .row > .col-md-4 > img {
        }
    }
/**/

/*Other*/
    .center {
        margin: 0 auto;
    }
/**/

