/*Basic*/
    body{
        background-color: #ffffff;
        font-family: 'Lato', sans-serif;
        color: #666;
    }
    h1{
        font-size: 25px;
    }
/**/

/*Navbar*/
    .navbar{
        background-color: #fff;
    }
/**/

/*Main*/
    main{
    }
    /*Header*/
        .header{
            width: 100%;
            height: 350px;
            background: linear-gradient(
                    rgba(0, 0, 0, 0.65),
                    rgba(0, 0, 0, 0.2)), url('http://imgs.abduzeedo.com/files/wallpapers/wpw347/wp_iPad.jpg') no-repeat;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }
        .header-description{
            padding: 5em 0;
        }
        .header-description > h2{
            font-weight: 700;
            font-size: 4em;
            color: #fff;
            text-transform: uppercase;
            text-align: center;
        }
        .header-description > blockquote{
            max-width: 620px;
            margin: 0 auto;
            text-align: center;
            font-weight: 100;
            font-size: 2em;
            color: #ffffff;
        }
    /**/
    /*Head Main*/
        .header-main{
            margin-bottom: 70px;
            padding: 3%;
            height: 350px;
        }
        .icon-content{
            text-align: center;
        }
        .icon > .icon-content > a > i{
            display: block;
            font-size: 6.7em;
            color: #28282f;
        }
        .icon > .icon-content > a > i:hover{
            color: #0275d8;
        }
        .icon > .icon-content > span{
            font-weight: 100;
            font-size: 2em;
            color: #222;
        }
        .icon > .icon-content > span > a{
            display: block;
            width: 100%;
            color: #333;
            text-decoration: none;
        }
        .icon > .icon-content > span > a:hover, .icon > .icon-content > span > a:focus{
            color: #0275d8;
            text-decoration: none;
        }
    /**/
    /*About Me*/
        .about-me{
            padding: 10px;
            height: 420px;
            background-color: #f9f9f9;
        }
        .about-me > .container > .row > .col-md-4 > img{
            width: 100%;
            height: 320px;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
        .about-me > .container > .row > .col-md-8 > p{
            width: 80%;
            font-size: 19px;
            text-align: justify;
            text-indent: 10px;
            color: #333;
        }
        .about-me > .container > .row > .col-md-8 > p > a{

        }
    /**/
/**/

/*Media*/
    @media(max-width: 766px)
    {
        .icon > .icon-content > a > i{
            font-size: 4.7em;
        }
        .about-me{
            height: 100%;
        }
        .about-me > .container > .row > .col-md-8 > p{
            margin-top: 19px;
            width: 100%;
        }
    }
    @media(max-width: 544px)
    {
        .about-me{
            margin: 170px 0 0 0;
            padding: 0;
        }
    }
/**/

/*Other*/
.center{
        margin: 0 auto;
    }
/**/

